@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-ef-blue : #167A99;
  --color-ef-hover-blue : #0a4456;
  --color-ef-dark-blue : #167A99;
  --color-ef-dark-blue-1 : #C0D9DF;
  --color-ef-dark-blue-2 : #E7EFEF;
  --color-ef-extra-light-blue : #167A9926;
  --color-ef-light-blue : #70c7e1;
  --color-ef-gray : #00000080;
  --color-ef-dark-gray : #232323;
  --color-ef-light-gray : #E2DBD1;
  --color-ef-yellow : #D4B888;



  --max-width-8xl: 1352px;
  --max-width-9xl: 1600px;

  --font-size-ef-heading1: 2rem;
  --font-weight-ef-heading1: 400;
  --line-height-ef-heading1: 1.2;

  --font-size-ef-mobile-heading1: 1.625rem;
  --font-weight-ef-mobile-heading1: 600;
  --line-height-ef-mobile-heading1: 1.2;

}



@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */

    font-size: 16px;
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer components {

  .btn {
    @apply px-4 py-2 text-white rounded-lg transition-colors duration-500 cursor-pointer bg-ef-blue border-1 border-ef-blue hover:bg-ef-hover-blue;
  }

  .nav-link {
    @apply relative inline-block text-ef-gray transition-colors duration-300;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: theme('colors.ef-blue');
    transition: width 0.3s ease;
  }

  .nav-link:hover {
    color: theme('colors.ef-blue') !important;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link.active {
  color: theme('colors.ef-blue') !important;
  }

  .nav-link.active::after {
    width: 100%;
  }


  /* Mobile menu */

  .mobile-nav-link {
    @apply relative inline-block text-white transition-colors duration-300;
  }

  .mobile-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }

  .mobile-nav-link:hover {
    color: theme('colors.ef-blue') !important;
  }

  .mobile-nav-link:hover::after {
    width: 100%;
  }

  .mobile-nav-link.active {
  color: white !important;
  }

  .mobile-nav-link.active::after {
    width: 100%;
  }

  

    .footer-nav-link {
    @apply relative inline-block text-white transition-colors duration-300;
  }
    .footer-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--color-ef-blue);
    transition: width 0.3s ease;
  }

  .footer-nav-link:hover {
    color: var(--color-ef-light-blue) !important;
  }

  .footer-nav-link:hover::after {
    width: 100%;
  }

  .card {
    @apply bg-white shadow-md rounded-lg p-6;
  }
}

@layer utilities {

  .text-ef-heading1-size {
      font-size: var(--font-size-ef-heading1);
      font-weight: var(--font-weight-ef-heading1);
      line-height: var(--line-height-ef-heading1);
  }

  .text-ef-mobile-heading1-size {
      font-size: var(--font-size-ef-mobile-heading1);
      font-weight: var(--font-weight-ef-mobile-heading1);
      line-height: var(--line-height-ef-mobile-heading1);
  }

  .pre-heading {
    display: inline-block;
    border: 1px solid var(--color-ef-blue);
    border-radius: 2rem;
    padding: 0.75rem 1.25rem;
    color: var(--color-ef-blue);
    margin-bottom: 20px;
  }

    .pre-mobile-heading {
    display: inline-block;
    border: 1px solid var(--color-ef-blue);
    border-radius: 2rem;
    padding: 0.4rem 1.25rem;
    color: var(--color-ef-blue);
    margin-bottom: 20px;
  }

  .btn-outlined { 
    background: white;
    color:var(--color-ef-blue);
    border: 1px solid var(--color-ef-blue)
   }
  .btn-outlined:hover { 
    background: var(--color-ef-blue);
    color:white;  
  }

  .btn-outlined-white { 
    background: none;
    color:white;
    border: 1px solid white;
    border-radius:30px
   }
  .btn-outlined-white:hover { 
    background: white;
    color:var(--color-ef-blue);  
  }

  .btn-outlined-blue { 
    background:var(--color-ef-dark-blue-2);
    color:var(--color-ef-blue);
    border: 1px solid var(--color-ef-blue)
   }
  .btn-outlined-blue:hover { 
    background: var(--color-ef-blue);
    color:white;  
  }


  .btn-slider {
    background-color: white;
    padding: 20px;
    color:black;
    font-weight: bold;
  }

  .ef-section-style {
    @apply max-w-7xl mx-auto py-5 md:py-20 px-4 sm:px-0 lg:px-0;
  }
  .ef-section-style-2 {
    @apply max-w-7xl mx-auto py-5 md:py-0 px-4 sm:px-0 lg:px-0;
  }
  .ef-section-style-3 {
    @apply max-w-7xl mx-auto p-10;
  }

  /* .ef-sub-page-top-style {
    @apply max-w-7xl mx-auto pb-20 px-4 sm:px-0 lg:px-0;
  } */

  .ef-sub-page-top-style {
    @apply w-full  md:max-w-8xl mx-auto;
  }
  
  .ef-arrow-btn-1 {
    @apply w-10 h-10 rounded-full border border-[#006b8f] flex items-center justify-center text-[#006b8f] hover:bg-[#006b8f] hover:text-white transition cursor-pointer;
  }

  .ef-arrow-btn-2 {
    @apply w-10 h-10 rounded-full border border-[#006b8f] flex items-center justify-center text-[#006b8f] hover:bg-[#006b8f] hover:text-white  transition-all duration-300 ease-in-out;
  }

  .ef-arrow-btn-abs-1 {
    @apply absolute bottom-6 right-6; 
  }


  .ArrowRightIcon { 
    @apply w-5 h-5 transition duration-300 ease-in-out hover:text-white hover:rotate-45;
   }
  
  .box-bg-count { 
    @apply absolute -top-10 -right-0 text-[8rem] z-[-1] text-[#598d9e] font-bold opacity-10;
  }

  .box-bg-count-2 { 
    @apply absolute -bottom-45 right-15 text-[15rem] z-0 text-[#598d9e] font-bold;
  }

  .blue-box {
    @apply relative bg-ef-extra-light-blue p-10 rounded-xl flex flex-col overflow-hidden;
  }
  .blue-box-2 {
    @apply relative bg-ef-dark-blue-1 p-10 rounded-xl flex flex-col overflow-hidden;
  }


  @keyframes menu-slide-in-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(20%);
    }
  }

  .animate-menu-slide-in-left {
    animation: menu-slide-in-left 0.3s ease-out forwards;
  }



 .equi-swiper .swiper-button-next::after {
    margin-right: -30px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color:var(--color-ef-blue);
}

 .equi-swiper .swiper-button-prev::after {
    margin-left: -30px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color:var(--color-ef-blue);

 }

  .HeroSwiper .swiper-button-prev, .swiper-button-next {
  color: white;
  z-index: 50;
}



/* Custom range thumb and track styling */
input[type='range'].slider-thumb::-webkit-slider-thumb {
  appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #e5e7eb;
  border: 6px solid #0e7490;
  cursor: pointer;
  margin-top: -16px;
}

input[type='range'].slider-thumb::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #e5e7eb;
  border: 6px solid #0e7490;
  cursor: pointer;
}

input[type='range'].slider-thumb::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 9999px;
  background: transparent;
}

input[type='range'].slider-thumb::-moz-range-track {
  height: 8px;
  border-radius: 9999px;
  background: transparent;
}


.hover-instant-out {
  transition: none !important;
}
.hover-instant-out:hover {
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}




}
/*
@layer screens {
  @media (min-width: 640px) {
    .sm\:text-lg {
      @apply text-lg;
    }
  }

  @media (min-width: 768px) {
    .md\:text-xl {
      @apply text-xl;
    }
  }

  @media (min-width: 1024px) {
    .lg\:text-2xl {
      @apply text-2xl;
    }
  }
}
@layer themes {
  .dark {
    @apply bg-gray-900 text-gray-100;
  }

  .light {
    @apply bg-white text-gray-800;
  }
}
@layer animations {
  .fade-in {
    @apply transition-opacity duration-500 ease-in;
    opacity: 0;
  }

  .fade-in-active {
    opacity: 1;
  }
}
@layer transitions {
  .transition-all {
    @apply transition-all duration-300 ease-in-out;
  }

  .hover\:scale-105:hover {
    @apply scale-105;
  }
}
@layer forms {
  .form-input {
    @apply border border-gray-300 rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .form-select {
    @apply border border-gray-300 rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .form-textarea {
    @apply border border-gray-300 rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
} */